html {
  font-family: "Rounded Mplus 1c", Calibri, Arial, sans-serif;
  font-weight: 400;
  font-size: 10px;
}

.main_header {
  color: white;
  font-size: 2.5rem;
  width: 100%;
  height: 128px;
  margin-top: 43px;
  -webkit-transition: all cubic-bezier(0.64, 0.15, 0.89, 0.83) 0.3s;
  transition: all cubic-bezier(0.64, 0.15, 0.89, 0.83) 0.3s;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_aside {
  width: 332px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_aside:after {
  content: "";
  display: block;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all cubic-bezier(0.64, 0.15, 0.89, 0.83) 0.3s;
  transition: all cubic-bezier(0.64, 0.15, 0.89, 0.83) 0.3s;
}

.header_title {
  color: white;
  font-size: 6.5rem;
}

.header_nav {
  width: 1002px;
}

.nav_pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.nav_pages a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav_pages a:after {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  background-color: white;
  -webkit-transition: width ease 0.3s;
  transition: width ease 0.3s;
  position: absolute;
  bottom: -10px;
}

.nav_pages a:hover:after {
  width: 100%;
}

.nav_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color background-color cubic-bezier(0.64, 0.15, 0.89, 0.83) 0.3s;
  transition: color background-color cubic-bezier(0.64, 0.15, 0.89, 0.83) 0.3s;
}

.nav_contact:before {
  content: "";
  display: block;
  background-color: white;
  width: 100%;
  height: 3px;
  border-radius: 3px;
}

.nav_contact:after {
  content: "";
  display: block;
  background-color: white;
  width: 95px;
  height: 3px;
  border-radius: 3px;
}

.nav_contact_social {
  width: 155px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  cursor: pointer;
}

.nav_contact_social a {
  display: block;
  -webkit-transition: -webkit-transform ease-in 0.3s;
  transition: -webkit-transform ease-in 0.3s;
  transition: transform ease-in 0.3s;
  transition: transform ease-in 0.3s, -webkit-transform ease-in 0.3s;
}

.nav_contact_social a:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.main_header_sticky {
  background-color: white;
  color: #330066;
  height: 122px;
  -webkit-backdrop-filter: blur(5px) grayscale(100%);
          backdrop-filter: blur(5px) grayscale(100%);
}

.nav_contact_sticky {
  opacity: 0;
}

.header_login_sticky #rect {
  fill: #330066;
}

.header_login_sticky #inner {
  fill: white;
}

.header_login_sticky #line, .header_login_sticky #user {
  stroke: #330066;
}

.header_aside_sticky:after {
  background-color: #330066;
  width: 332px;
}

.header_login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_login #Login > *, .header_login #user {
  -webkit-transition: all cubic-bezier(0.64, 0.15, 0.89, 0.83) 0.3s;
  transition: all cubic-bezier(0.64, 0.15, 0.89, 0.83) 0.3s;
}

.main_content {
  margin-top: -171px;
}

section {
  background-color: #C1B4CF;
  height: 100vh;
}

.section_intro {
  background-color: #330066;
}
