@charset "UTF-8";
.hamburglar {
  -webkit-transform: scale(1);
          transform: scale(1);
  margin-right: 15px;
  position: relative;
  display: block;
  width: 68px;
  height: 68px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.path-burger {
  position: absolute;
  top: 0;
  left: 0;
  height: 68px;
  width: 68px;
  -webkit-mask: url(#mask);
          mask: url(#mask);
  -webkit-mask-box-image: url(https://raygun.io/upload/mask.svg);
}

.animate-path {
  position: absolute;
  top: 0;
  left: 0;
  width: 68px;
  height: 68px;
}

.path-rotation {
  height: 34px;
  width: 34px;
  margin: 34px 34px 0 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
}

.path-rotation:before {
  content: '';
  display: block;
  width: 30px;
  height: 34px;
  margin: 0 4px 0 0;
  background: white;
}

.hamburglar.is-open .path {
  -webkit-animation: dash-in 0.6s linear normal;
          animation: dash-in 0.6s linear normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.hamburglar.is-open .animate-path {
  -webkit-animation: rotate-in 0.6s linear normal;
          animation: rotate-in 0.6s linear normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.hamburglar.is-closed .path {
  -webkit-animation: dash-out 0.6s linear normal;
          animation: dash-out 0.6s linear normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.hamburglar.is-closed .animate-path {
  -webkit-animation: rotate-out 0.6s linear normal;
          animation: rotate-out 0.6s linear normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.path {
  stroke-dasharray: 240;
  stroke-dashoffset: 240;
  stroke-linejoin: round;
}

.burger-icon {
  position: absolute;
  padding: 20px 16px;
  height: 68px;
  width: 68px;
}

.burger-container {
  position: relative;
  height: 28px;
  width: 36px;
}

.burger-bun-top,
.burger-bun-bot,
.burger-filling {
  position: absolute;
  display: block;
  height: 4px;
  width: 36px;
  border-radius: 2px;
  background: white;
}

.burger-bun-top {
  top: 0;
  -webkit-transform-origin: 34px 2px;
          transform-origin: 34px 2px;
}

.burger-bun-bot {
  bottom: 0;
  -webkit-transform-origin: 34px 2px;
          transform-origin: 34px 2px;
}

.burger-filling {
  top: 12px;
}

.burger-ring {
  position: absolute;
  top: 0;
  left: 0;
  width: 68px;
  height: 68px;
}

.svg-ring {
  width: 68px;
  height: 68px;
}

.hamburglar.is-open .burger-bun-top {
  -webkit-animation: bun-top-out 0.6s linear normal;
          animation: bun-top-out 0.6s linear normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.hamburglar.is-open .burger-bun-bot {
  -webkit-animation: bun-bot-out 0.6s linear normal;
          animation: bun-bot-out 0.6s linear normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.hamburglar.is-closed .burger-bun-top {
  -webkit-animation: bun-top-in 0.6s linear normal;
          animation: bun-top-in 0.6s linear normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.hamburglar.is-closed .burger-bun-bot {
  -webkit-animation: bun-bot-in 0.6s linear normal;
          animation: bun-bot-in 0.6s linear normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.hamburglar.is-open .burger-filling {
  -webkit-animation: burger-fill-out 0.6s linear normal;
          animation: burger-fill-out 0.6s linear normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.hamburglar.is-closed .burger-filling {
  -webkit-animation: burger-fill-in 0.6s linear normal;
          animation: burger-fill-in 0.6s linear normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.wrapper_one_screen,
.wrapper_long_block,
.wrapper_news {
  width: 1600px;
  margin: 0 auto;
}

.main_header {
  background-color: #330066;
  color: white;
  font-size: 2.5rem;
  z-index: 100000;
  width: 100%;
  height: 122px;
  margin-top: 43px;
  -webkit-transition: all cubic-bezier(0.64, 0.15, 0.89, 0.83) 0.3s;
  transition: all cubic-bezier(0.64, 0.15, 0.89, 0.83) 0.3s;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_header .header_general {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
  width: calc(100% - 332px);
}

.main_header .header_aside {
  width: 360px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_header .header_aside:after {
  content: "";
  display: block;
  width: 360px;
  height: 100%;
  position: absolute;
  left: -360px;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-transition: all cubic-bezier(0.64, 0.15, 0.89, 0.83) 0.3s;
  transition: all cubic-bezier(0.64, 0.15, 0.89, 0.83) 0.3s;
}

.main_header .header_aside .header_title {
  color: white;
  font-size: 6.5rem;
  text-transform: uppercase;
}

.main_header .header_nav {
  width: 1100px;
}

.main_header .nav_pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.main_header .nav_pages a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_header .nav_pages a:before {
  content: "";
  display: block;
  width: calc(50% + 55px);
  height: 122px;
  background-color: transparent;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  z-index: -1;
  position: absolute;
}

.main_header .nav_pages a:after {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  background-color: white;
  border-radius: 3px;
  -webkit-transition: width ease 0.3s;
  transition: width ease 0.3s;
  position: absolute;
  bottom: -10px;
}

.main_header .nav_pages a:hover:after {
  width: 100%;
}

.main_header .nav_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity background-color cubic-bezier(0.64, 0.15, 0.89, 0.83) 0.3s;
  transition: opacity background-color cubic-bezier(0.64, 0.15, 0.89, 0.83) 0.3s;
  font-size: 3rem;
}

.main_header .nav_contact:before {
  content: "";
  display: block;
  background-color: white;
  width: 100%;
  height: 3px;
  border-radius: 3px;
}

.main_header .nav_contact:after {
  content: "";
  display: block;
  background-color: white;
  width: 95px;
  height: 3px;
  border-radius: 3px;
}

.main_header .nav_contact_social {
  width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  cursor: pointer;
}

.main_header .nav_contact_social a {
  display: block;
  -webkit-transition: -webkit-transform ease 0.3s;
  transition: -webkit-transform ease 0.3s;
  transition: transform ease 0.3s;
  transition: transform ease 0.3s, -webkit-transform ease 0.3s;
}

.main_header .nav_contact_social a:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.main_header .header_login {
  height: 100%;
}

.main_header .header_login #inner {
  font-family: "Rounded Mplus 1c", Calibri, Arial, sans-serif;
}

.main_header .header_login #Login > *, .main_header .header_login #user {
  -webkit-transition: all cubic-bezier(0.64, 0.15, 0.89, 0.83) 0.3s;
  transition: all cubic-bezier(0.64, 0.15, 0.89, 0.83) 0.3s;
}

.main_header .header_login a {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_header .header_login a:hover #rect {
  fill: #330066;
  stroke: white;
  stroke-width: 3px;
}

.main_header .header_login a:hover #inner {
  fill: white;
}

.main_header .nav_contact_sticky {
  opacity: 0;
}

.main_header .header_login_sticky #rect {
  fill: #330066;
}

.main_header .header_login_sticky #inner {
  fill: white;
}

.main_header .header_login_sticky #line, .main_header .header_login_sticky #user {
  stroke: #330066;
}

.main_header .header_login_sticky a:hover #rect {
  fill: white;
  stroke: #330066;
  stroke-width: 3px;
}

.main_header .header_login_sticky a:hover #inner {
  fill: #330066;
}

.main_header .header_aside_sticky:after {
  background-color: #330066;
  left: 0;
}

.main_header .nav_pages_sticky a:hover:before {
  background-color: #E5E0EB;
  width: calc(100% + 55px);
}

.main_header .nav_pages_sticky a:after {
  background-color: #330066;
  bottom: -42px;
  height: 5px;
}

.main_header .nav_pages_sticky a:hover:after {
  width: calc(100% + 55px);
}

.main_header_sticky {
  background-color: white;
  color: #330066;
  -webkit-backdrop-filter: grayscale(100%);
          backdrop-filter: grayscale(100%);
}

.sections_header {
  position: absolute;
  top: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1000;
}

.sections_header_icon {
  bottom: 0;
  position: absolute;
  width: 91px;
}

.sections_header_title {
  background-color: #330066;
  color: white;
  font-family: "Montserrat", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 4.5rem;
  padding: 18px 115px;
  position: relative;
}

.sections_header_title:before {
  content: "";
  display: block;
  background-color: inherit;
  width: 25px;
  height: 100%;
  position: absolute;
  top: 0;
  border-radius: 0 12px 24px 24px;
}

.sections_header_left {
  left: 0;
}

.sections_header_left .sections_header_icon {
  right: -131px;
}

.sections_header_left .sections_header_title:before {
  right: -32px;
}

.sections_header_right {
  right: 0;
}

.sections_header_right .sections_header_icon {
  left: -131px;
}

.sections_header_right .sections_header_title:before {
  left: -32px;
}

/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
.science_slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.science_slider_main {
  width: 70%;
  height: 977px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.science_slider_main .slick-slide.slick-current {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  opacity: 1;
}

.science_slider_main_item {
  text-align: center;
  width: 100%;
  height: 977px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0.3;
  -webkit-filter: grayscale(100);
          filter: grayscale(100);
  cursor: pointer;
  -webkit-transition: opacity ease 1s, -webkit-filter ease 1s;
  transition: opacity ease 1s, -webkit-filter ease 1s;
  transition: filter ease 1s, opacity ease 1s;
  transition: filter ease 1s, opacity ease 1s, -webkit-filter ease 1s;
}

.science_slider_main_item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.science_slider_main_item .item_description {
  background-color: white;
  opacity: 0.83;
  text-transform: uppercase;
  font-size: 9.8rem;
  color: #330066;
  position: absolute;
  width: 100%;
  margin-top: 24px;
  padding: 64px 0;
}

.science_slider_main .slick-arrow {
  margin-top: 30px;
  position: absolute;
  z-index: 1000;
  background: none;
  cursor: pointer;
}

.science_slider_main .slick-arrow svg circle {
  -webkit-transition: fill ease 0.4s;
  transition: fill ease 0.4s;
}

.science_slider_main .slick-arrow svg path {
  -webkit-transition: stroke ease 0.4s;
  transition: stroke ease 0.4s;
}

.science_slider_main .slick-arrow:hover svg circle {
  fill: white;
}

.science_slider_main .slick-arrow:hover svg path {
  stroke: #330066;
}

.science_slider_main .slick-arrow.slick-prev {
  left: 20px;
}

.science_slider_main .slick-arrow.slick-next {
  right: 20px;
}

.science_slider_main .slick-disabled {
  opacity: 0.4;
}

.science_slider_main .slick-disabled svg circle {
  fill: #C1B4CF;
}

.science_slider_main .slick-disabled svg path {
  stroke: white;
}

.science_slider_main .slick-disabled svg:hover circle {
  fill: #C1B4CF;
}

.science_slider_main .slick-disabled svg:hover path {
  stroke: white;
}

.science_slider_secondary {
  width: 30%;
  height: 720px;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.science_slider_secondary .slick-track {
  display: block;
}

.science_slider_secondary .slick-slide.slick-current {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  opacity: 1;
}

.science_slider_secondary_item {
  height: 240px;
  opacity: 0.3;
  -webkit-filter: grayscale(100);
          filter: grayscale(100);
  cursor: pointer;
  -webkit-transition: opacity ease 1s, -webkit-filter ease 1s;
  transition: opacity ease 1s, -webkit-filter ease 1s;
  transition: filter ease 1s, opacity ease 1s;
  transition: filter ease 1s, opacity ease 1s, -webkit-filter ease 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.science_slider_secondary_item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.science_slider_secondary .slick-dots {
  -ms-flex-item-align: center;
      align-self: center;
  bottom: 30px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.science_slider_secondary .slick-dots li {
  padding: 0 12px;
  list-style: none;
}

.science_slider_secondary .slick-dots li button {
  font-size: 0;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  border: solid 2px white;
  -webkit-box-shadow: 0 0 10px white;
          box-shadow: 0 0 10px white;
  -webkit-transition: background-color ease 0.4s, -webkit-box-shadow ease 0.4s;
  transition: background-color ease 0.4s, -webkit-box-shadow ease 0.4s;
  transition: background-color ease 0.4s, box-shadow ease 0.4s;
  transition: background-color ease 0.4s, box-shadow ease 0.4s, -webkit-box-shadow ease 0.4s;
  cursor: pointer;
}

.science_slider_secondary .slick-dots li.slick-active button {
  background-color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.section_intro {
  background-color: #330066;
  color: white;
  height: 100vh;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 3rem;
  color: white;
  background-color: #330066;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro_description {
  width: 33vw;
  margin: 100px 0 0 44px;
  font-weight: 300;
  color: white;
}

.intro_description_title h1 {
  display: inline-block;
  font-size: 13.2rem;
  font-weight: 300;
  position: relative;
}

.intro_description_title h1 span {
  font-weight: 400;
  color: #C1B4CF;
}

.intro_description_title h1:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 5px;
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background-color: white;
}

.intro_description_title h2 {
  font-size: 5.1rem;
  font-weight: 400;
  color: #C1B4CF;
}

.intro_description_title h3 {
  letter-spacing: 150;
  margin-bottom: -20px;
}

.intro_description_title h1, .intro_description_title h2, .intro_description_title h3 {
  text-transform: uppercase;
}

.intro_desciption_main {
  margin-top: 50px;
  color: white;
}

#univesity_image {
  height: 38vw;
  position: absolute;
  bottom: 0;
  right: 0;
}

#univesity_image * {
  -webkit-transition: fill-opacity ease 3s;
  transition: fill-opacity ease 3s;
}

.university_image_start_animation * {
  fill-opacity: 0;
}

.university_image_end_animation * {
  fill-opacity: 1;
}

.section_about {
  background-color: #E5E0EB;
  padding: 105px 0;
  font-size: 2.4rem;
  position: relative;
  z-index: 100;
}

.section_about:after {
  content: "";
  display: block;
  width: calc(100% - (1600px - 555px) - (100% - 1600px)/2);
  height: 100%;
  background-color: #C1B4CF;
  position: absolute;
  z-index: -1;
  top: 0;
}

.section_about .wrapper_one_screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about_more {
  -ms-flex-preferred-size: 555px;
      flex-basis: 555px;
  min-height: 865px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_more_img {
  width: 100%;
  height: 50%;
}

.about_more_img img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  opacity: 75%;
}

.about_more_icon {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about_more_icon:before {
  content: "";
  display: block;
  width: 346px;
  height: 100%;
  background-color: white;
  border-radius: 50%;
  position: absolute;
}

.about_more_icon .about_more_icon_inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about_more_icon .about_more_icon_inner_percentage {
  font-family: "Montserrat", Arial, sans-serif;
  color: #330066;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
}

.about_more_icon .about_more_icon_inner_percentage .percentage_value {
  font-weight: 600;
  font-size: 9rem;
}

.about_more_icon .about_more_icon_inner_percentage .percentage_name {
  text-align: center;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 400;
  font-size: 2.1rem;
  color: #330066;
  text-transform: uppercase;
}

.about_more_description {
  background-color: #E5E0EB;
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about_more_description .description_text {
  width: 85%;
  height: calc(100% - 102px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: center;
  margin: 0 auto 40px;
}

.about_more_description .description_button {
  width: 100%;
  height: 102px;
  color: white;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 3.3rem;
  text-transform: uppercase;
  background-color: #330066;
  position: relative;
  z-index: 101;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: color ease 0.4s;
  transition: color ease 0.4s;
}

.about_more_description .description_button span {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: width ease 0.65s, height ease 0.65s;
  transition: width ease 0.65s, height ease 0.65s;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}

.about_more_description .description_button:hover {
  color: #330066;
}

.about_more_description .description_button:hover span {
  width: 225%;
  height: 800%;
}

.about_more_description .description_button:active {
  background-color: white;
}

.about_all {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #C1B4CF;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about_all_navbar {
  width: 92%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-row-gap: 110px;
  grid-column-gap: 20px;
}

.about_all_navbar_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.about_all_navbar_item:nth-child(2) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.about_all_navbar_item:hover .navbar_icon {
  fill: #330066;
}

.about_all_navbar_item_active .navbar_title {
  color: #330066;
}

.about_all_navbar_item_active .navbar_icon {
  fill: #330066;
}

.about_all_navbar_item .navbar_icon {
  -webkit-transition: fill ease 0.4s;
  transition: fill ease 0.4s;
}

.about_all_navbar_item .navbar_title {
  text-align: center;
  font-size: 3rem;
  padding-left: 30px;
  -webkit-transition: color ease 0.4s;
  transition: color ease 0.4s;
}

.about_all_navbar_item .navbar_title span {
  font-size: 1.95rem;
}

.section_science {
  background-color: #C1B4CF;
  position: relative;
}

.section_science .science_inner {
  position: relative;
  z-index: 1000;
}

.section_science .sections_header {
  top: 90px;
}

.section_science .sections_header_icon {
  width: 105px;
  right: -145px;
}

.section_science .particles_inner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 0;
}

.section_science .particles_inner canvas {
  display: block;
}

.section_science .wrapper_long_block {
  padding-bottom: 400px;
}

.section_science .science_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 155px 0 108px;
  font-size: 2.6rem;
  color: #330066;
}

.section_science .science_info_item {
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.section_science .science_info_item .science_info_header .header_icon {
  height: 270px;
}

.section_science .science_info_item .science_info_header .header_title {
  font-size: 5.0rem;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 700;
  padding: 15px 0;
}

.section_science .science_info_item .science_info_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.section_science .science_info_item .science_info_description .description_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 25px 0;
  width: 90%;
}

.section_science .science_info_item .science_info_description .description_button {
  width: inherit;
  padding: 15px 30px;
  color: #330066;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 2.3rem;
  font-weight: 500;
  background-color: #E5E0EB;
  position: relative;
  z-index: 101;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: color ease 0.4s;
  transition: color ease 0.4s;
}

.section_science .science_info_item .science_info_description .description_button span {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #330066;
  -webkit-transition: width ease 0.45s, height ease 0.45s;
  transition: width ease 0.45s, height ease 0.45s;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}

.section_science .science_info_item .science_info_description .description_button:hover {
  color: white;
}

.section_science .science_info_item .science_info_description .description_button:hover span {
  width: 225%;
  height: 800%;
}

.section_science .science_info_item .science_info_description .description_button:active {
  background-color: white;
}

.section_science .science_info_item .science_info_description:before {
  content: "";
  display: block;
  background-color: #E5E0EB;
  width: 100%;
  height: 5px;
  border-radius: 5px;
}

.section_science .science_more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section_science .science_more_link {
  font-size: 4.2rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #330066;
  font-weight: 300;
}

.section_science .science_more_link:after {
  content: "";
  display: block;
  background-color: white;
  width: 93%;
  height: 3px;
  position: absolute;
  bottom: -7px;
  -webkit-transition: width ease 0.4s;
  transition: width ease 0.4s;
}

.section_science .science_more_link:hover:after {
  width: 60%;
}

.section_news .wrapper_news {
  padding: 220px 0;
}

.section_news .news_all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: red;
}

.section_news .news_all_item {
  position: relative;
  background-color: green;
  width: 511px;
  height: 634px;
  -webkit-transform: rotate(-9deg);
          transform: rotate(-9deg);
}

.section_news .news_all_item_img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section_news .news_all_item:first-child {
  margin-top: 34px;
  -webkit-transform: rotate(-7deg);
          transform: rotate(-7deg);
}

.section_news .news_all_item:first-child:after {
  top: auto;
  right: auto;
  bottom: -45px;
  left: -40px;
}

.section_news .news_all_item:nth-child(2) {
  -webkit-transform: rotate(8deg);
          transform: rotate(8deg);
}

.section_news .news_all_item:nth-child(2):after {
  top: -45px;
  right: auto;
  bottom: auto;
  left: -35px;
}

.section_news .news_all_item:last-child {
  margin-top: 117px;
  -webkit-transform: rotate(18deg);
          transform: rotate(18deg);
}

.section_news .news_all_item:last-child:after {
  top: auto;
  right: -45px;
  bottom: -35px;
  left: auto;
}

.section_news .news_all_item:after {
  content: "";
  display: block;
  border: 4px black solid;
  border-radius: 50%;
  width: 138px;
  height: 138px;
  z-index: 10000;
  background-color: white;
  position: absolute;
}

html {
  font-family: "Rounded Mplus 1c", Calibri, Arial, sans-serif;
  font-weight: 400;
  font-size: 10px;
}

.main_content {
  margin-top: -165px;
}
