// ---------- Science ----------



.section_science{

    background-color: $backDarkColor;
    position: relative;

    .sections_header
    {
        top: 90px;
        &_icon{
            width: 105px;
            right: -145px;
        }
    }

}
