// ---------- Science ----------

@import "../templates/_link_more.scss";

.section_science{

    overflow: hidden;
    position: relative;
    background-color: $backDarkColor;
    padding-bottom: 450px;

    &:after {
        content: "";
        display: block;
        @include Size (110%, 400px);
        background-color: $mainLightColor;
        position: absolute;
        bottom: -200px;
        left: -5%;
        transform: rotate(-3deg);
    }

    .science_inner{
        position: relative;
        z-index: 1000;
    }

    .sections_header{
        top: 90px;
        &_icon{
            right: -150px;
        }
    }

    .science_info{
        display: flex;
        margin-top: 108px;
        font-size: ToRem(26);
        color: $mainColor;
    
        &_item{ 
            flex-basis: 300px;
            flex-grow: 1;
    
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            text-align: center;
    
            .science_info_header{
                .header_icon{
                    height: 270px;
                }
                .header_title{
                    font-size: ToRem(50);
                    font-family: $titleFont;
                    font-weight: 600;
                    padding: 15px 0;
                }
            }
    
            .science_info_description{
    
                display: flex;
                flex-direction: column;
                align-items: center;
                flex-grow: 1;
    
                .description_text{
                    display: flex;
                    align-items: center;
                    flex-grow: 1;
                    padding: 25px 0;
                    width: 90%;
                }
                .description_button{

                    width: inherit;
                    padding: 15px 30px;
                
                    color: $mainColor;
                    font-family: $titleFont;
                    font-size: ToRem(23);
                    font-weight: 500;
                    background-color: $backColor;
                    position: relative;
                    z-index: 1001;
                    overflow: hidden;
                
                    transition: color ease 0.4s;

                    span{
                        position: absolute;
                        display: block;
                        width: 0;
                        height: 0;
                        border-radius: 50%;
                        background-color: $mainColor;
                        transition: width ease 0.45s, height ease 0.45s;
                        transform: translate(-50%, -50%);
                        z-index: -1;
                    }
                
                    &:hover{
                        color: $mainLightColor;
                    }
                
                    &:hover span{
                        width: 225%;
                        height: 800%;
                    }
                
                    &:active{
                        background-color: $mainLightColor;
                    }
                }
    
                &:before{
                    content: "";
                    display: block;
    
                    background-color: $backColor;
                    @include Size(100%, 5px);
                    border-radius: 5px;
                }
            }
    
        }
    
    }

    .link_more {
        padding-top: 108px;
    }

}


