.section_news {

    position: relative;
    padding: 50px 0;

    .sections_header{
        top: -50px;
        &_icon{
            left: -128px;
        }
    }

    .news_decorate {

        div{
            transition: background-color ease .6s;
        }

        &_circle_left {
            @include Size(822px, 822px);
            border-radius: 50%;
            background-color: $backColor;

            position: absolute;
            top: -40%;
            left: -500px;
            z-index: 9999;
        }

        &_circle_right {
            @include Size(822px, 822px);
            border-radius: 50%;
            background-color: $backColor;

            position: absolute;
            bottom: -40%;
            z-index: 9999;
            right: -500px;
        }
    }

    .news_all {
        position: relative;
        display: flex;
        align-items: center;
        z-index: 10000;

        color: $mainLightColor;

        &_item {
            position: relative;

            flex-grow: 1;
            @include Size(33.33333%, 650px);

            &_inner {
                @include Size(100%, 100%);
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                position: absolute;
                top: 0;
                z-index: 10001;

                &_main {
                    display: flex;
                    flex-direction: column;
                    @include FlexCenter();
                    flex-grow: 1;

                    &_title {
                        text-transform: uppercase;

                        width: 100%;
                        text-align: center;
                        font-weight: 300;

                        &_big {
                            font-size: ToRem(45);
                        }

                        &_small {
                            font-size: ToRem(28);
                            padding: 13px 0;
                        }

                        z-index: 10002;
                    }

                    &_description {
                        display: none;

                        font-size: ToRem(23);
                        text-align: center;
                        width: 70%;

                        &:before {
                            content: "";
                            display: block;
                            margin: 27px auto;
                            @include Size(70%, 2px);

                            background-color: $mainLightColor;
                        }
                    }
                }

                &_more {
                    background-color: hsla(0, 0, 0, 0.5);
                    font-size: ToRem(17);
                    text-transform: lowercase;
                    letter-spacing: 9px;
                    @include Size(100%, 60px);
                    transition: height ease .4s;    
                    
                    &:hover {
                        height: 90px;
                    }

                    
                    a{
                        @include Size (100%,100%);
                        display: flex;
                        @include FlexCenter();
                        text-align: center;
                    }
                }
            }

            &_img {
                @include Size(100%, 100%);
                object-fit: cover;
            }

            &:nth-child(1) {
                margin-top: 34px;
                transform: rotate(-7deg);

                .news_all_item_inner_main_title_small {
                    background-color: hsl(180, 95%, 36%);
                }

                &:before {
                    content: "24.07";
                    color: hsl(180, 95%, 36%);
                    @include AbsPos(auto, auto, -45px, -40px);
                    border-color: hsl(180, 95%, 36%);
                }

                &:hover:after {
                    background-color: hsla(180, 76%, 43%, 0.6);
                }
            }

            &:nth-child(2) {
                transform: rotate(8deg);

                .news_all_item_inner_main_title_small {
                    background-color: hsl(322, 100%, 45%);
                }

                &:before {
                    content: "02.08";
                    color: hsl(322, 100%, 45%);
                    @include AbsPos(-45px, auto, auto, -35px);
                    border-color: hsl(322, 100%, 45%);
                }

                &:hover:after {
                    background-color: hsla(322, 100%, 45%, 0.6);
                }
            }

            &:nth-child(3) {
                margin-top: 117px;
                transform: rotate(18deg);

                .news_all_item_inner_main_title_small {
                    background-color: hsl(22, 100%, 50%);
                }

                &:before {
                    content: "вчера";
                    color: hsl(22, 100%, 50%);
                    @include AbsPos(auto, -45px, -35px, auto);
                    border-color: hsl(22, 100%, 50%);
                }

                &:hover:after {
                    background-color: hsla(22, 100%, 50%, 0.6);
                }
            }

            &:before {
                content: "";
                display: block;

                background-color: white;
                font-size: ToRem(39);
                font-weight: 500;
                border: 4px black solid;
                border-radius: 50%;

                @include Size(138px, 138px);
                position: absolute;
                z-index: 10003;

                display: flex;
                @include FlexCenter();
            }

            &:after {
                content: "";
                display: block;

                background-color: rgba(119, 31, 207, 0.5);
                transition: background-color, ease, .4s;

                position: absolute;
                top: 0;
                left: 0;
                @include Size(100%, 100%);
            }
        }
    }

    .link_more {
        padding: 50px 0 8px;
        &_link:after {
            background-color: $backDarkColor;
        }
    }
}