
.section_partners{
    
    position: relative;
    overflow: hidden;
    background: $backDarkColor;
    padding: 400px 0 150px;
    font-size: ToRem(26);

    &:before{
        content: "";
        display: block;
        @include Size (110%, 400px);
        background-color: $mainLightColor;
        position: absolute;
        top: -200px;
        left: -5%;
        transform: rotate(3deg);
    }
    
    .partners_inner{
        position: relative;
        z-index: 1000;
        padding-top: 200px;
    }

    .sections_header{
        top: 0;
        &_icon{
            right: -169px;
        }
    }

    .partners_info{

        &_item{
            
            height: 457px;  
            display: flex;
            justify-content: space-between;

            &:hover{

                .partners_info_item_logo{
                    transform: skew(0, -1deg) scale(0.98);
                    img{
                        transform: scale(1.2);
                    }
                }

            }
            
            &_logo{
                width: 50%;
                letter-spacing: 100px;
                transition: transform ease .4s;

                display: flex;
                @include FlexCenter();

                img{
                    transition: transform ease .4s;
                }
            }

            &_description{
                width: 50%;
                padding: 0 64px;

                display: flex;
                flex-direction: column;
                justify-content: center;

                &_title{
                    font-family: $titleFont;
                    font-size: ToRem(50);
                    font-weight: 600;
                }

                &_text{
                    margin: 20px 0 30px;
                }

                &_button{
                    font-family: $titleFont;
                    font-weight: 500;
                    border: solid black 3px;
                    align-self: flex-start;
                    padding: 12px 27px;

                    position: relative;
                    z-index: 1001;
                    overflow: hidden;
                
                    transition: color ease 0.4s;

                    span{
                        position: absolute;
                        display: block;
                        @include Size(0,0);
                        border-radius: 50%;
                        transition: width ease 0.45s, height ease 0.45s;
                        transform: translate(-50%, -50%);
                        z-index: -1;
                    }
                
                    &:hover{
                        color: $mainLightColor;
                    }
                
                    &:hover span{
                        width: 225%;
                        height: 800%;
                    }
                
                    &:active{
                        background-color: $mainLightColor;
                    }
                }
            }

            &:nth-child(1){
                &:hover{
                    .partners_info_item_description{
                        color: #007461;
    
                        &_text{
                            color: darken(#007461, 15);
                        }
    
                        &_button{
                            border-color: #007461;
                            span{
                                background-color: #007461;
                            }
                        }
                    }
                }
                .partners_info_item_logo{
                    background-color: #007461;
                }
                .partners_info_item_description{
                    color: #007461;

                    &_text{
                        color: darken(#007461, 15);
                    }

                    &_button{
                        border-color: #007461;
                        span{
                            background-color: #007461;
                        }
                    }
                }
            }
            &:nth-child(2){

                &:hover .partners_info_item_logo{
                    transform: skew(0, 1deg) scale(0.98);
                }

                .partners_info_item_logo{
                    background-color: white;
                    order: 1;
                }
                .partners_info_item_description{
                    text-align: right;
                    color: #1C4598;

                    &_text{
                        color: darken(#1C4598, 15);
                    }

                    &_button{
                        align-self: flex-end;
                        border-color: #1C4598;
                        span{
                            background-color: #1C4598;
                        }
                    }
                }
            }
            &:nth-child(3){
                .partners_info_item_logo{
                    background-color: #E12229;
                }
                .partners_info_item_description{
                    color: #E12229;

                    &_text{
                        color: darken(#E12229, 15);
                    }

                    &_button{
                        border-color: #E12229;
                        span{
                            background-color: #E12229;
                        }
                    }
                }
            }

        }

    }

    .link_more {
        padding: 108px 0 8px;
    }
    
}