.popup{
    background-color: rgba(51, 0, 102, 0.877);
    backdrop-filter: grayscale(10);
    
    @include Size(100%,100%);
    display: flex;
    @include FlexCenter();

    opacity: 0;
    visibility: hidden;
    transition: visibility ease .6s, opacity ease .6s;
    

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
    perspective: 1000px;  

    &_body{
        background-color: $backColor;
        color: black;
        font-size: ToRem(26);
        width: 54%;
        height: 84%;
        overflow-y: scroll;
        transform-style: perspective ;
        transform: rotateX(-35deg) translateY(100%);
        transition: transform ease .6s, visibility ease .6s;
    }

    &_header{
        display: flex;
        @include Size(100%, 314px);
        &_img{
            width: 65%;
            img{
                @include Size(100%, 100%);
                object-fit: cover;
            }
        }
        &_title{
            width: 35%;
            background-color: #E30090;
            color: $mainLightColor;
            font-size: ToRem(21);

            display: flex;
            justify-content: flex-end;
            align-items: center;
            position: relative;

            &:before {

                content: "10.07";
                display: block;

                background-color: white;
                color: hsl(322, 100%, 45%);
                font-size: ToRem(39);
                font-weight: 500;
                border: 4px hsl(322, 100%, 45%) solid;
                border-radius: 50%;

                @include Size(138px, 138px);
                position: absolute;
                left: -69px;
                z-index: 10003;

                display: flex;
                @include FlexCenter();
            }

            h2{
                text-align: center;
                width: calc(100% - 69px);
            }
        }
        
    }

    &_content{

        &_title{
            width: 100%;
            padding: 62px 50px 0;
            text-align: right;
            color: hsl(322, 100%, 45%);
            font-family: $titleFont;
            font-weight: 600;
            font-size: ToRem(50);
            
            &:after{
                content: "";
                display: block;

                @include Size(100%, 3px);
                background-color: hsl(322, 100%, 45%);
                margin-top: 12px;
            }
        }

        &_text{
            width: 100%;
            padding: 40px 50px;
        }

        &_video{
            @include Size(100%, 483px);
            iframe{
                @include Size(100%, 100%);
            }
        }

        &_gallery{

            height: 625px;

            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: "item-1 item-2"
                                 "item-3 item-3";
            
            &_item{
                position: relative;
                overflow: hidden;
                img{
                    @include Size(100%, 100%);
                    object-fit: cover;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                &:nth-child(1){
                    grid-area: item-1;
                }
                &:nth-child(2){
                    grid-area: item-2;
                }
                &:nth-child(3){
                    grid-area: item-3;
                }
            }
            
        }

    }

    &_footer{
        padding: 80px 50px 40px;
        position: relative;

        display: flex;
        justify-content: flex-end;

        &_share{
            display: flex;
            &_text{
                padding-right: 30px;
            }
        }

        &:before{
            content: "";
            display: block;

            @include Size(calc(100% - 100px), 3px);
            background-color: hsl(322, 100%, 45%);

            position: absolute;
            top: 40px;
        }
    }
}

.popup.open{
    opacity:1;
    visibility: visible;
    .popup_body{
        transform: rotateX(0) translateY(0) ;
    }
    
}

.popup_close{   
    @include Size(54px,54px);
    background-color: hsla(0,0,0,.5);
    cursor: pointer;
    
    position: fixed !important;
    top: 8%;
    left: 77%;

    display: flex;
    @include FlexCenter();

    img{
        transition: transform ease .4s ;
    
        &:hover {
            transform: rotate(90deg)  ;
        }
    }
}

#popup_event_1{

    .popup_body::-webkit-scrollbar-thumb{
        background: linear-gradient(to bottom, hsl(180, 95%, 36%), hsl(180, 95%, 80%));
    }

    .popup_header{
        &_title{
            background-color: hsl(180, 95%, 36%) !important;
            &:before {
                content: "24.07";
                color: hsl(180, 95%, 36%) !important;;
                border-color: hsl(180, 95%, 36%) !important;;
            }
        }
    }

    .popup_content{
        &_title{
            color: hsl(180, 95%, 36%) !important;
            &:after{
                background-color: hsl(180, 95%, 36%) !important;
            }
        }
    }

    .popup_footer{
        &:before{
            background-color: hsl(180, 95%, 36%) !important;
        }
    }

}

#popup_event_2{

    .popup_body::-webkit-scrollbar-thumb{
        background: linear-gradient(to bottom, hsl(322, 100%, 45%), hsl(322, 100%, 80%));
    }

    .popup_header{
        &_title{
            background-color: hsl(322, 100%, 45%) !important;
            &:before {
                content: "02.08";
                color: hsl(322, 100%, 45%) !important;;
                border-color: hsl(322, 100%, 45%) !important;;
            }
        }
    }

    .popup_content{
        &_title{
            color: hsl(322, 100%, 45%) !important;
            &:after{
                background-color: hsl(322, 100%, 45%) !important;
            }
        }
    }

    .popup_footer{
        &:before{
            background-color: hsl(322, 100%, 45%) !important;
        }
    }

}

#popup_event_3{

    .popup_body::-webkit-scrollbar-thumb{
        background: linear-gradient(to bottom, hsl(22, 100%, 50%), hsl(22, 100%, 80%));
    }

    .popup_header{
        &_title{
            background-color: hsl(22, 100%, 50%) !important;
            &:before {
                content: "вчера";
                color: hsl(22, 100%, 50%) !important;;
                border-color: hsl(22, 100%, 50%) !important;;
            }
        }
    }

    .popup_content{
        &_title{
            color: hsl(22, 100%, 50%) !important;
            &:after{
                background-color: hsl(22, 100%, 50%) !important;
            }
        }
    }

    .popup_footer{
        &:before{
            background-color: hsl(22, 100%, 50%) !important;
        }
    }

}


