// цвета
$mainColor: #330066;
$mainDarkColor: darken($mainColor, 20);
$mainLightColor: white;
$backColor: #E5E0EB;
$backDarkColor: #C1B4CF;

//шрифты
$mainFont: 'Rounded Mplus 1c', Calibri, Arial, sans-serif;
$titleFont: 'Montserrat', Arial, sans-serif;

//ширины
$oneScreenWidth: 1600px;
$oneScreenLeftFB: 555px;

