@import "_mixins.scss";

html{
    box-sizing: border-box;
}

*,*:before,*:after{
    @include StandartSize();
}

h1,h2,h3,h4,h5,h6{
    @include Spaces(0,0);
    font: inherit;
}

a{
    text-decoration: none;
    color: inherit;
}