@import "_variables.scss";
@import "_mixins.scss";

html{
    font-family: $mainFont;
    font-weight: 400;
    font-size: 10px;
}

// ---------- Header ----------
.main_header{
    color: $mainLightColor;

    font-size: 2.5rem;

    width: 100%;
    height: 128px;
    margin-top: 43px;
    transition: all cubic-bezier(.64,.15,.89,.83) 0.3s;

    position: sticky;
    top: 0px;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header_aside{
    width: 332px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:after{
        content: "";
        display: block;

        @include Size(0, 100%);
        position: absolute;
        @include AbsPos(0, auto, auto, 0);
        z-index: -1;

        background-color: hsla(360,100,100,0.5);
        transition: all cubic-bezier(.64,.15,.89,.83) 0.3s;
    }
}
.header_title{
    color: $mainLightColor;
    font-size: 6.5rem;
}

.header_nav{
    width: 1002px;
}
.nav_pages{
    display: flex;
    justify-content: space-between;

    cursor: pointer;

    a{
        position: relative;
        display: flex;
        justify-content: center;
    }

    a:after{
        content: "";
        display: block;

        @include Size(0%, 3px);
        background-color: $mainLightColor;
        transition: width ease 0.3s;

        position: absolute;
        bottom: -10px;
    }

    a:hover:after{
        width: 100%;
    }
}
.nav_contact{

    display: flex;
    align-items: center;
    transition: color background-color cubic-bezier(.64,.15,.89,.83) 0.3s;

    &:before{
        content: "";
        display: block;

        background-color: white;
        width: 100%;
        height: 3px;
        border-radius: 3px;

    }

    &:after{
        content: "";
        display: block;

        background-color: white;
        width: 95px;
        height: 3px;
        border-radius: 3px;
    }
}
.nav_contact_social{
    width: 155px;
    display: flex;
    justify-content: space-around;
    justify-content: space-evenly;

    cursor: pointer;

    a{
        display: block;
        transition: transform ease-in 0.3s;
        &:hover{
            transform: scale(1.15);
        }
    }
}

//классы для события sticky у header
.main_header_sticky{
    background-color: hsla(360,100,100,1);
    color: $mainColor;
    height: 122px;
    backdrop-filter: blur(5px) grayscale(100%);
}
.nav_contact_sticky{
    opacity: 0;
}
.header_login_sticky{
    #rect{
        fill: $mainColor;
    }
    #inner{
        fill: $mainLightColor;
    }
    #line, #user{
        stroke: $mainColor;
    }
}
.header_aside_sticky{

    &:after{
        background-color: $mainColor;
        width: 332px;
    }
}


.header_login{
    display: flex;
    align-items: center;
    #Login > *, #user{
        transition: all cubic-bezier(.64,.15,.89,.83) 0.3s
    };
}






.main_content{
    margin-top: -171px;
}



section{
    background-color: $backDarkColor;
    height: 100vh;
}

.section_intro{
    background-color: $mainColor;
}