// Переменные
@import "_variables.scss";
// Миксикны
@import "_mixins.scss";

// Шаблоны
@import "templates/_hamburger.scss";
@import "templates/_grid.scss";
@import "templates/_header.scss";
@import "templates/_sections_header.scss";
@import "templates/_slider.scss";

// Блоки на первой странице (лендинге)
@import "blocks/_01_intro.scss";
@import "blocks/_02_about.scss";
@import "blocks/_03_science.scss";


html{
    font-family: $mainFont;
    font-weight: 400;
    font-size: 10px;
}

.main_content{
    margin-top: -165px;
}

